{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="center" align="center">
        <p class="logo-title">Weather Search</p>
        <form action="{% url 'home-page' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="search-text">
                    {{ search_form.search_location }}
                </div>
            </div>
            <div class="pt-2">
                <button type="submit" class="search-go-button">Search</button>
            </div>
        </form>
    </div>

{% endblock %}